<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\source\CoreTests\packages.config" />
  <repository path="..\source\DebugUITests\packages.config" />
  <repository path="..\source\GameEngineAdaperTests\packages.config" />
  <repository path="..\source\GameEngineTests\packages.config" />
  <repository path="..\source\RobotEngineAdapterTests\packages.config" />
</repositories>